---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'LOG IN', href: 'https://chat-app-ten-ochre.vercel.app/', icon: 'tabler:download' }}
    image={{ src: import('~/assets/images/hero.png'), alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight"> 🚀Liberated Logic</span>  </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">LiberatedLogic</span> - Express youreself in a vast collection of emojis, stickers, and GIFs to add personality and emotion to your messages.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">LiberatedLogic: Production-ready.</span> You can enjoy instant and real-time conversations with anyone, anywhere in the world. Our app ensures that distance is no longer a barrier to meaningful communication.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    highlight="Features"
    title="What you get with Liberated Logic"
    subtitle="Explore a world of effortless communication and endless connections."
    items={[
      [
        {
          title: 'Messaging with generative  AI',
          description:
            'Communicate genuinely and expressively with the help of AI, reducing the time it takes for you to perfect a message.',
            icon: 'tabler:robot',
        },
        {
          title: 'Clean content - Safe community',
          description:
            'We strive to promote positive online interactions while protecting users from harmful content and maintaining the integrity and trustworthiness of online communities.',
             icon: 'tabler:bulb',
        },
        {
          title: 'Join Communities',
          description:
            'Find people, varying from celebrities to your old next-door neighbor, from all around the world that share your passions and goals.',
             icon: 'tabler:check',
        },
      ],
      [
        {
          title: 'Revolutionize HR: Eliminating Overhead, Maximizing Impact!',
          description:
            'Optimize communication, streamline administrative tasks and enhance engagement while improving overall operational efficiency.',
             icon: 'tabler:rocket',
        },
        {
          title: 'Message Templates',
          description:
            'Want to text, but not sure what to say? Worry Not! We got you, steal these message examples to say the right thing at the right time.',
             icon: 'tabler:message',
        },
        {
          title: 'Messages Wrapped',
          description:
            'Identify your messaging personality by viewing a summary of your most used icons,stickers, words, etc.',
             icon: 'tabler:presentation',
        },
      ],
    ]}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    title="Step into the Future: Start your Download Journey!"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Download</span>',
        icon: 'tabler:download',
      },
      {
        title: 'Step 2: <span class="font-medium">Log In/ Sign Up</em>',
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Explore</span>',
        description:
          'Liberated Logic is here to make sure you have the best experience connecting with others. Explore all the features offered by Liberated Logic!',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: import('~/assets/images/Helpcenter2.0.jpeg'),
      alt: 'Steps image',
    }}
  />
  <!-- HighlightedPosts Widget ******* -->

  <LatestPosts
    title="Here to help you text like a PRO"
  />

  <!-- Stats Widget ****************** -->

  <Stats
    items={[
      { name: 'Downloads', value: '0' },
      { name: 'Stars', value: '0' },
      { name: 'Users', value: '0' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: 'LOG IN',
      href: 'https://chat-app-ten-ochre.vercel.app/',
      icon: 'tabler:download',
    }}
  >
    <Fragment slot="title">
      Liberated <br class="block sm:hidden" /><span class="sm:whitespace-nowrap"> Logic</span>
    </Fragment>

    <Fragment slot="subtitle">
     Be the First to see first hand how our texting software helps you connect with customers like never before!
    </Fragment>
  </CallToAction>
</Layout>
